<%- include("partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to SmartWork</h1>
			<p>You can see all your tasks here!!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/task">Clear here to go to your tasks!!</a>
			</p>
		</div>
	</header>
</div>
<%- include("partials/footer") %>